@use '../utils' as u;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Manrope';
  line-height: 1.8;
}

img{
  display: block;
  max-width: 100%;
} 

.wrapper {
  max-width: u.rem(1200);
  margin-inline: auto;
  padding-inline: u.rem(20);

  @include u.breakpoint(medium) {
    padding-inline: u.rem(44);
  }

  @include u.breakpoint(x-large) {
    padding-inline: u.rem(60);
  }
}
