@use '../utils' as u;

.button{
  background-color: var(--green);
  color: var(--purple-900);
  padding: u.rem(12) u.rem(32);
  display: inline-block;

  &:hover{
    background-color: var(--purple-900);
    color: var(--green);
    border: 2px solid var(--green);
  }
}
