@use '../utils/' as u;

h1, h2, h3{
  font-family: 'Fraunces';
  font-weight: 600;
  line-height: 1.2;

  span{
    display: inline-block;
  }

  span::after{
    display: block;
    height: u.rem(2);
    background-color: var(--green);
    margin-top: u.rem(4);
    content: " ";
  }
}

h1{
  font-size: u.rem(50);
  font-size: clamp(u.rem(50), 2.155172413793103rem + 4.137931034482759vw, u.rem(80));
  line-height: 1;
}

h2{
  font-size: clamp(u.rem(32), 2.254vw + 1.472rem, u.rem(56));
}

h3{
  font-size: clamp(u.rem(28), 0.376vw + 1.662rem, u.rem(32));
}
