@use 'functions' as f;

// 700px, 900px, 1440px
$breakpoints-up: (
  sm: f.rem(700),
  md: f.rem(900),
  lg: f.rem(1440)
);

//451.98px, 699.98px, 899.98px, 1439.98px
$breakpoints-down: (
  xs: f.rem(451.98),
  sm: f.rem(699.98),
  md: f.rem(899.98),
  lg: f.rem(1439.98)
);

@mixin breakpoint($size){
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size){
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}