@use '../utils/' as u;

.header{

  background-color: var(--purple-900);
  padding-block: u.rem(32) u.rem(64);
  
  @include u.breakpoint(medium){
    padding-block: u.rem(32) u.rem(56);
  };

  @include u.breakpoint(large){
    padding-block: u.rem(56);
  };

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo{
    height: auto;
  }

  &__link{
    color: var(--white);
    transition: color .3s ease-in-out;

    &:hover{
      color: var(--green);
    }

    &::after{
      display: block;
      height: u.rem(2);
      background-color: var(--green);
      margin-top: u.rem(4);
      content: " ";
    }
  }
}